div{
    background-color: red;
        color: white;
        height: 200px;
        width: 200px;
        border-radius: 50%;
        border: double blue;
        display: flex;
        align-items: center;
        justify-content: center;
}

#ele1{
    background: brown;
}

.div3{
    background: #000;
}

